.get_1 {
    width: 1280px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    margin-top: 42px;
   
}

.text_get1 {
    width: 385px;
    height: 150px;
    padding: 39px 80px;
    box-sizing: border-box;
}

.text_get2 {
    width: 895px;
    height: 150px;
    padding: 24px 56px;
    box-sizing: border-box;
}

.text_get1 h1 {
    width: 225px;
    height: 46px;
    color: var(--White, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 46px;
    /* 109.524% */
    letter-spacing: -2px;


}

.text_get2 h1 {
    max-width: 560px;
    align-self: stretch;
    height: 102px;
    color: var(--White, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 46px;
    /* 109.524% */
    letter-spacing: -2px;
 

}

.offices {
    width: 1280px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    margin-top: 64px;

}

.offices img {
    width: 733px;
    height: 500px;
    border-radius: 24px;
  
}

.offices .text-offices {
    width: 500px;
    height: 500px;
    border-radius: 24px;
 
}

.our-off {
    width: 500px;
    height: 46px;
    color: var(--White, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 46px;
    /* 109.524% */
    letter-spacing: -2px;
    margin-top: 51px;

}

.jadval_ul {
    width: 500px;
    height: 318px;
    margin-top: 34px;
    display: flex;
    justify-content: space-between;
  
}

.jadval_ul .jadval_123 {
    width: 250px;
  
}

.ul-1 {
    list-style: none;
}

.born {
    width: 250px;
    height: 30px;
    color: var(--White, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    margin-top: 24px;

    /* 166.667% */
}

.born p {
    width: 200px;
}

.born2 {
    width: 250px;
    height: 52px;
    color: var(--Black-400, #9D9FA1);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    align-self: stretch;
    margin-top: 8px;

}

.born2 p {
    width: 200px;
}


.touch {
    width: 225px;
    height: 46px;
    color: var(--White, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 46px;
    margin-top: 208px;
    /* 109.524% */
    letter-spacing: -2px;

}


.form_name {
    display: flex;
    justify-content: space-between;
    width: 680px;
    margin-top: 40px;
}

input[type="text"] {
    width: 328px;
    height: 26px;
    color: var(--Black-400, #9D9FA1);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    background-color: black;

}

input[name="email"] {
    width: 680px;
    height: 52px;
    color: var(--Black-400, #9D9FA1);
    font-feature-settings: 'clig' off, 'liga' off;
    background-color: black;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    flex: 1 0 0;
    margin-top: 32px;
    /* 162.5% */

}


select {
    width: 680px;
    height: 52px;
    flex: 1 0 0;
    color: var(--Black-400, #9D9FA1);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    background-color: black;
    line-height: 26px;
    margin-top: 32px;
    /* 162.5% */
}

textarea {
    width: 680px;
    height: 150px;
    color: var(--Black-400, #9D9FA1);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    background-color: black;
    margin-top: 32px;
}


.btn333 {
    width: 680px;
    height: 56px;
    border-radius: 39px;
    padding: 12px 28px;
    box-sizing: border-box;
    background-color: white;
    margin-top: 48px;
 
}

.btn333 .iiiii {
    width: 620px;
    height: 32px;
    color: var(--Black-700, #282828);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    /* 177.778% */
    letter-spacing: -0.2px;
    background-color: white;
}

.text--- {
    width: 665px;
    height: 22px;
    color: var(--Black-400, #9D9FA1);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin-top: 32px;
    /* 157.143% */
  
}